<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Войдите в аккаунт.</title>

</head>
<body align="center">
    <h2> Введите логин и пароль:</h2>
    <form action="" method="POST">
        <input type="text"      class="input" name="login"      placeholder="Введите логин">
        <input type="password"  class="input" name="password"   placeholder="Введите пароль">
        <input type="submit"    class="input" placeholder="Войти в аккаунт">
    </form>
    <br>
    <div> <a href="/">Выход в главное меню</a> </div>
</body>
</html>