<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Выберите запрос:</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="..\static\base.css">

</head>
<body class="design">

    <h1  class="distant"            align="left" style="position: fixed; left: 10px;"> Выберите SQL-запрос:</h1>
    <div class="container-fluid"    align="left" style="position: fixed; top: 100px;">
        <div class="card" >
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="margin-top: 50px"><a href="prov1">Заключившие контракт поставщики за дату </a></li>
                <li class="list-group-item" style="margin-top: 50px"><a href="prov2">Количество заключенных договоров за месяц  </a></li>
                <li class="list-group-item" style="margin-top: 50px"><a href="prov3">Общая стоимость товаров за период </a></li>
                <li class="list-group-item" style="margin-top: 50px"><a href="prov4">Поиск поставщиков по префиксу </a></li>
            </ul>
        </div>
        <div style="margin-top: 430px"> <a href="/">Выход в главное меню</a> </div>
    </div>

</body>
</html>

