<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главное меню.</title>
    </head>

    <body class="design">
            <h1 style="font-size:300%" align="center">Добро пожаловать  </h1>

            <div align="center">
                        <a href="/profile/"  style="font-size:200%"      >SQL-запросы</a> <br>
                        <a href="/authorization/" style="font-size:200%"   >Авторизация</a> <br>
                        <a href="/edit"  style="font-size:200%"            >Редактирование</a> <br>
                        <a href="/basket/"  style="font-size:200%"          >Корзина</a> <br>
                        <a href="/exit"  style="font-size:200%"            >Exit</a>
             </div>
    </body>
</html>