<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 align="center">Переводы </h2>
    <div align="center">
        <table border="0" width="25%" >
            {% if items %}
                {% for head in heads %}
                <th align="left"> {{ head }} </th>
                {% endfor %}
                {% for item in items %}
                    <tr>
                        <td> {{ item['date_sh'] }} </td>
                        <td> {{ item['time'] }} </td>
                        <td>
                            <form action="" method="post">
                                <input type="hidden" name="id" value="{{ item['id'] }}">
                                <input type="submit" name="action" value="Перевести">
<!--                                <input type="submit" name="action" value="Удалить">-->
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
               <div>
                   Нет Имени
               </div>
            {% endif %}
        </table>
<!--         <a href = '/edit/add'>Добавить</a>-->
    </div>
    <div align="center">
        <a href = '/'>В главное меню</a>
        </div>
</body>
</html>