<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главное меню.</title>
    </head>

    <body class="design">
            <h1 style="font-size:300%" align="center">Добро пожаловать  </h1>

            <div align="center">
                        <a href="/profile/"  style="font-size:200%"      >SQL-запросы</a> <br>

                        <a href="/reports/" style="font-size:200%"   >Работа с отчётами</a> <br>
                        <a href="/entry/"  style="font-size:200%"            >Запись</a> <br>
                        {% if log %}
                        <a href="/exit"  style="font-size:200%"            >Exit</a>
                        {% else %}
                        <a href="/authorization/" style="font-size:200%"   >Авторизация</a> <br>
                        {% endif %}
             </div>
    </body>
</html>