

h2 {
    color:#7e44db;
    font-size: 24pt;
    font-weight: bold;
    font-family: Cambria;
}

tr {
    color: rgb(116, 106, 139);
    font-weight: bold;
    font-family: Cambria;
    font-size: 14pt;

}

tr.tab_title {
    text-align: left;
    width: 350px;
    font-weight: bold;
    font-size: 16pt;
    color: rgb(78, 68, 103);
}