{% macro render_item(item, show_form=False) %}
<div class="form hoverable">
    <td>
    <p>
        <span>Имя мастера  {{ item['Namemas'] }}</span>
        <p></p>
        <span>Стоимость услуг   {{ item['Costmas'] }}</span>
        <p></p>
    </p>
    {% if show_form %}
    <div>
        <form action="" method="post">
            <input class="input_basket" type="submit" value="Выбрать">
            <input class="input_basket" type="hidden" name="id" value="{{ item['tickets_id'] }}">
        </form>
    </div>
    {% endif %}
        </td>
</div>
{% endmacro %}