<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    <title>Главная</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
    {% endwith %}
      <center class="nav-logo">Бауманская поликлиника</center>
      <center>
          <div class="buttons-menu">
              <a href="{{ url_for('bp_queries.search_choice') }}"><button>Поиск</button></a>
              <a href="{{ url_for('bp_reports.choice') }}"><button>Отчёты</button></a>
              <a href="#"><button>Записаться на приём</button></a>
              {% if if_logged %}
                <a href="{{ url_for('bp_auth.logout') }}"><button>Выход</button></a>
              {% else %}
                <a href="{{ url_for('bp_auth.login_page') }}"><button>Войти</button></a>
              {% endif %}
          </div>
    </center>
  <div class="main">

  </div>
</body>
</html>