<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат поиска</title>


</head>
<body class="design2">
<h1 align="center" class="distant"> Сведения о работниках:</h1>
    <table border="1"  align="center">
        <th class="table">специальность</th>
        <th class="table">отработанные часы</th>
        <th class="table">фамилия работника</th>
        <th class="table">дата рождения</th>
        <th class="table">дата приёма на работу</th>
        {% for item in str %}
        <tr>
            {% for key, values in item.items() %}
                <td style="text-align: center">{{values}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
<div align="center" style="margin-top: 150px"> <a href="/">Выход в главное меню</a> </div>
</body>
</html>

