<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат поиска</title>
    <link href="../static/css/confirm.css" rel="stylesheet" type="text/css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body class="design2">
<div class="row">
    <h2 class="display-5" align="center" style="padding-top: 30px;">Результаты поиска:</h2>
</div>
<div class="row">
    <div class="t" style="padding: 30px;">
        <table class="table">
            <thead>
            <tr>
                <th>Фамилия</th>
                <th>Имя</th>
                <th>Отчество</th>
                <th>Паспортные данные</th>
                <th>Дата рождения</th>
                <th>Диагноз</th>
                <th>Дата поступления</th>
                <th>Дата выыписки</th>
                <th>Фамилия врача</th>
                <th>Имя врача</th>
                <th>Отчество врача</th>
                <th>Адрес</th>
                <th>Палата</th>
            </tr>
            </thead>
            <tbody>
            {% for item in result %}
            <tr>
                <td>{{item['Surname_Pt']}}</td>
                <td>{{item['Name_P']}}</td>
                <td>{{item['Patronymic_P']}}</td>
                <td>{{item['Passport']}}</td>
                <td>{{item['Birthday']}}</td>
                <td>{{item['Diagnosis']}}</td>
                <td>{{item['Date_of_admission']}}</td>
                <td>{{item['Date_of_discharge']}}</td>
                <td>{{item['Surname_D']}}</td>
                <td>{{item['Name_D']}}</td>
                <td>{{item['Patronymic_D']}}</td>
                <td>{{item['adress']}}</td>
                <td>{{item['ID_Ward']}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div align="center" style="padding-top: 30px;" >
        <a role="button" class="btn topic_btn"
           style="background-color:#d7c7f0; width: 200px; font-family: Helvetica; font-size: 13pt; font-weight: bold; color:#7e44db;"
           href="/profile/">Назад</a>
    </div>
</div>
<div class="row">
    <div align="center" style="padding-top: 10px; padding-bottom: 30px;" >
        <a role="button" class="btn topic_btn"
           style="background-color:#d7c7f0; width: 200px; font-family: Helvetica; font-size: 13pt; font-weight: bold; color:#7e44db;"
           href="/second">Главное меню</a>
    </div>
</div>
</body>
</html>

