<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link href="{{url_for('static', filename='auth.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='O.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
<center>
        <h2 class="title">Введите логин и пароль</h2>
        <form action = "" method="post">
            <label class="data" for="login"> Логин </label>
            <input type="text" name="login" id="login">
            <br>
            <label class="data" for="password"> Пароль</label>
            <input type="text" name="password" id="password">
            <br>
            <input type="submit" class="button" value="Войти">
            <input type="reset" class="button" value="Сбросить">
            <br>
            <a class="button" href="{{url_for('start_menu')}}">Вернуться на главную страницу</a>
        </form>
    </center>
</body>
</html>