<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выбор запроса</title>
    <link href="{{url_for('static', filename='buttons.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='O.css')}}" rel="stylesheet" type="text/css">
</head>
<body style="body">
    <center>

        <form action = "" method="post">
            <div>Доступ запрещён!</div>
            <a class="button" href="{{url_for('main_menu')}}">Вернуться на главную страницу</a>
            <a class="button" href="{{url_for('bp_auth.auth_exit')}}">Выйти из системы</a>
        </form>
    </center>
</body>
</html>