<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главное меню.</title>
        <style>
            body{
            background: red;
        }
        </style>

    </head>
    {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
    {% endwith %}
    <body class="design">
            <h1 style="font-size:300%" align="left" x>Банк  </h1>

            <div align="left">
                        <a href="/profile/"  style="font-size:200%"      >SQL-запросы</a> <br>
                        <a href="/reports/"  style="font-size:200%"      >Работа с отчётами</a> <br>
                        <a href="/edit/"  style="font-size:200%"      >Банковские переводы</a> <br>
                        {% if log_status %}
                            <a href="/exit" style="font-size:200%"  >Выход</a>
                        {% else %}
                            <a href="/authorization/" style="font-size:200%"  >Авторизация</a>
                        {% endif %}
             </div>
    </body>
</html>