<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
    <link href="{{ url_for('static', filename='base.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('.static', filename='auth.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=True) %}
            {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
    {% endwith %}
  <center>
    <h2>Введите логин и пароль</h2>
    <form action="" method=POST>
        <div class="form-item">
            <label for="login">Логин</label>
            <input type="text" name="login" id="login" required>
        </div>
        <div class="form-item">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" required>
        </div>
        <button class="button-login" type="submit">Войти</button>
    </form>

    <div class="buttons-menu">
        <a href="{{ url_for('home_page') }}"><button class="button-menu"> На главную </button></a>
    </div>
</center>
</body>
</html>