{% extends "base_for_search.html" %}
{% block title %}Поиск{% endblock %}
{% block name_of_search %}Поиск сотрудников по имени{% endblock %}

{% block form %}
<form action="{{ url_for('queries_app.show_employees') }}" method="POST">
    <tr>
        <td class="no-padding">
            <input type="text" name="name" placeholder="Имя" autocomplete="off" required minlength="3">
        </td>
    </tr>
    <tr>
        <td style="padding: 0;">
            <input type="submit" value="Найти">
        </td>
    </tr>
</form>
{% endblock %}

{% block table_header %}
<tr>
    <th>Имя</th>
    <th>Дата рождения</th>
    <th>Адрес</th>
    <th>Образование</th>
    <th>Зарплата</th>
    <th>Дата приема на работу</th>
</tr>
{% endblock %}

{% block table_body %}
{% for item in result %}
<tr>
    <td>{{ item['employee_name'] }}</td>
    <td>{{ item['employee_birthday'] }}</td>
    <td>{{ item['employee_address'] }}</td>
    <td>{{ item['employee_education'] }}</td>
    <td>{{ item['employee_salary'] }}</td>
    <td>{{ item['employee_date_of_enrollm'] }}₽</td>
    {% endfor %}
    {% endblock %}