.avatar{
    width: 100px;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    text-align: center;
    border-style: unset;
    margin-bottom: 50px;
}


.avatar-row {
    border: none;
}
.name {
    padding: 15px;
    border: none;
    width: 300px;
}