<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Билеты</title>
    <link href="{{url_for('static', filename='buttons.css')}}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Poiret+One&family=Rubik+Burned&display=swap" rel="stylesheet">
</head>
<body>
<center>
    <h2>ВВЕДИТЕ ПАРАМЕТРЫ ПОИСКА</h2>
    <form action="" method="post">
        <label for="year">ГОД</label>
        <input type="text" name="year" id="year">
        <br><br>
        <input type="submit" class="button" value="ГОТОВО">             <!-кнопка->
        <input type="reset" class="button" value="УДАЛИТЬ">               <!-кнопка->
        <br><br>
        <a class="button_slide slide_down" href="{{url_for('bp_query.query_choice')}}">ВЕРНУТЬСЯ</a>
        <br><br>
        <a class="logout-button" href="{{url_for('bp_auth.auth_exit')}}">ВЫЙТИ</a>
    </form>
</center>>
</body>
</html>