{% macro render_item(item, idService, show_form = False, show_amount = False) %}
<div class="student-item" style="border: 2px solid #d7c7f0; border-radius: 5px; margin: 10px; padding: 10px; background-color: #f9f9f9;">
    <p style="font-family: Arial, sans-serif; font-size: 16px; margin-bottom: 10px; display: inline-block; text-align: left;">
        <span>Название:</span>
        <span style="color: #12b201; margin-left: 10px;">{{item['Name']}}</span><br>
        <span>Стоимость в сутки:</span>
        <span style="color: #12b201; margin-left: 10px;">{{item['Cost_per_day']}}</span><br>
    </p>

    {% if show_form %}
    <form method="post" action="">
        <input type="submit" class="btn btn-primary" style="width: 200px; font-size: 14px;" name="send" value="Выбрать билет">
        <input type="hidden" value="{{idService}}" name="idService" id="{{idService}}">
    </form>
    {% endif %}

</div>
{% endmacro %}
