<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Главное меню.</title>
            <link rel="stylesheet" href="/static/styles.css">
    </head>
    {% with messages = get_flashed_messages(with_categories=True) %}
                {% for category, message in messages %}
                        <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
    {% endwith %}
    <body>
            <h1>dream cinema</h1>
            <div class="imgcontainer">
                <img class="img1" src="/static/img/klipartz.com.png"  alt="your image">
            </div>
            <div class="container" align="left">
                        <a href="/profile/" style="font-size:3vw"  class="button1"    >Информация о кинотеатре</a>
                        <a href="/reports/" style="font-size:3vw" class="button2"      >Работа с отчётами</a> <br>
                {% if log_status %}
                            <a href="/exit" style="font-size:200%" class="myButton" >Выход</a>
                        {% else %}
                            <a href="/authorization/" style="font-size:200%" class="myButton1"  >Авторизация</a>
                        {% endif %}

            </div>
    </body>

</html>