<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Личный кабинет</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="container-centered">
                <div class="mytable">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">
                                    <div class="label_page">
                                        Личный кабинет
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="{{ url_for('access_app.account_settings') }}" method="POST">
                                <tr>
                                    <td>Логин:</td>
                                    <td>
                                        {{ user_info['username']}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Имя Фамилия:</td>
                                    <td class="no-padding">
                                        <input type="text" placeholder="Имя Фамилия" required minlength="4"
                                            value="{{ user_info['candidate_name'] or '' }}" name="candidate_name"
                                            autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Город проживания:</td>
                                    <td class="no-padding">
                                        <input type="text" placeholder="Город проживания" required minlength="4"
                                            value="{{ user_info['candidate_living_place'] or '' }}"
                                            name="candidate_living_place" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Пол:</td>
                                    <td class="no-padding">
                                        <input type="text" placeholder="М/Ж" required pattern="[МЖ]"
                                            value="{{ user_info['candidate_sex'] or '' }}" name="candidate_sex"
                                            autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Возраст:</td>
                                    <td class="no-padding">
                                        <input type="number" placeholder="Возраст" required min="18" max="100"
                                            value="{{ user_info['candidate_age'] or '' }}" name="candidate_age"
                                            autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>Электронная почта:</td>
                                    <td class="no-padding">
                                        <input type="text" placeholder="Электронная почта" required
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                                            value="{{ user_info['candidate_email'] or '' }}" name="candidate_email"
                                            autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding" colspan="2">
                                        <input type="submit" value="Сохранить">
                                    </td>
                                </tr>
                            </form>
                            <tr>
                                <td class="no-padding" colspan="2">
                                    <form action="{{ url_for('basket_app.check_responses') }}" method="GET">
                                        <input type="submit" value="Посмотреть статусы откликов">
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                <td class="no-padding" colspan="2">
                                    <form action="{{ url_for('index_handler') }}" method="GET">
                                        <input type="submit" value="На главную">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="message">
                {% if category == 'okay' %}
                <div class="okay">
                    {{ message }}
                </div>
                {% endif %}
                {% if category == 'error' %}
                <div class="error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </main>

    <div id="loading">
        <div class="spinner"></div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/pageEventHandlers.js"></script>

</html>