<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Регистрация</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="container-centered">
                <div class="mytable">
                    <table>
                        <thead>
                            <tr>
                                <th>
                                    <div class="label_page">
                                        Регистрация
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <form action="{{ url_for('access_app.register_handler') }}" method="POST">
                                <tr>
                                    <td class="no-padding">
                                        <input type="login" name="username" placeholder="Логин" autocomplete="off"
                                            required pattern="[A-Za-z]*" minlength="6">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding">
                                        <input type="password" name="password" placeholder="Пароль" autocomplete="off"
                                            required minlength="6">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0;">
                                        <input type="submit" value="Подтвердить">
                                    </td>
                                </tr>
                            </form>
                            <tr>
                                <td class="no-padding">
                                    <form action="{{ url_for('access_app.access_index') }}" method="GET">
                                        <input type="submit" value="Вернуться назад">
                                    </form>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="message">
                {% if category == 'okay' %}
                <div class="okay">
                    {{ message }}
                </div>
                {% endif %}
                {% if category == 'error' %}
                <div class="error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </main>

    <div id="loading">
        <div class="spinner"></div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/pageEventHandlers.js"></script>

</html>