<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Просмотр открытых вакансий</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="container-centered">
                <div class="mytable-for-results">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="7">
                                    <div class="label_page">
                                        Список открытых вакансий
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th style="min-width: 20vw; max-width: 20vw;">Название вакансии</th>
                                <th style="min-width: 50vw; max-width: 50vw;">Краткое описание</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in vacancies %}
                            <tr>
                                <td style="min-width: 20vw; max-width: 20vw;">
                                    {{ row['vacancy_name'] }}
                                </td>
                                <td style="min-width: 50vw; max-width: 50vw;">
                                    {{ row['description'] }}
                                </td>
                            </tr>
                            <tr>
                                <td class="no-padding" colspan="2">
                                    <form action="{{ url_for('basket_app.get_vacancies') }}" method="POST">
                                        <input type="submit" value="Отклик">
                                        <input type="hidden" value="{{ row['idvacancy'] }}" name="vacancy_id">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="no-padding" colspan="2">
                                    <form action="{{ url_for('index_handler') }}" method="GET">
                                        <input type="submit" value="Вернуться на главную">
                                    </form>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="message">
                {% if category == 'okay' %}
                <div class="okay">
                    {{ message }}
                </div>
                {% endif %}
                {% if category == 'error' %}
                <div class="error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </main>

    <div id="loading">
        <div class="spinner"></div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/pageEventHandlers.js"></script>

</html>