{% macro render_item(item, id_book, show_form = False, show_amount = False) %}
<link href="../static/css/confirm.css" rel="stylesheet" type="text/css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sign-in/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<style>
        body {
            font-family: Arial, sans-serif;
            background-color: #a69524;
            margin: 0;
            padding: 0;
        }
        .success {
            color: green;
        }
        .error {
            color: red;
        }
        .design {
            text-align: center;
            padding-top: 50px;
        }
        h1 {
            font-size: 3em;
            text-align: left;
            margin-left: 1px;
        }
        a {
            font-size: 2em;
            text-decoration: none;
            display: block;
            margin-bottom: 10px;
        }
        a:hover {
            color: #ff6600;
        }
    </style>
<div style = "border-style: solid; border-radius: 5px; border-color: #100f11; margin:5px;">
    <p style="margin: 10px; font-family: Cambria; font-size: 14pt;">
        <span>Автор:</span>
        <span style="color: #100f11;"> {{item['author_surname']}}</span><br>
        <span>Название книги:</span>
        <span style="color: #100f11;"> {{item['book_name']}}</span><br>
        <span>Жанр:</span>
        <span style="color: #100f11;"> {{item['genre']}}</span><br>
    </p>

    {% if show_form %}
    <form method = "post" action="">
        <input type="submit" class="btn" style="margin: 10px; text-align: center; background-color: #160f23; width: 200px; height: 40px; color: white; font-size:14pt; font-weigth: bold;" name="send" value = "Добавить кингу">
        <input type="hidden" value = "{{id_book}}" name="id_book" id="{{id_book}}">
    </form>
    {% endif %}

</div>
{% endmacro %}