<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в аккаунт</title>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body class="design">
    <header>
            <div class="header-block">
                <a href="/">
                    <div class="logo-block">
                        <img class="logo-img" src="/static/img/logo.svg">
                        <div class="logo-text">Кинотеатр Пиковый Туз</div>
                    </div>
                </a>
            </div>
    </header>
    <div class="main-content">
        <div class="main-enter-block">
            <div class="main-enter-block-title">
                Введите логин и пароль
            </div>
            <form class="reg-form" action="" method="POST">
                <input type="text"      class="input" name="login"      placeholder="Логин">
                <input type="password"  class="input" name="password"   placeholder="Пароль">
                <input class="filed-button" type="submit" placeholder="Войти в аккаунт">
            </form>
            <a class="unfiled-button" href="/">
                <div>Выйти в главное меню</div>
            </a>
        </div>
    </div>
</body>
</html>