<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат поиска</title>



</head>
<body>
<h1 align="center"> Результат поисков:</h1>
    <table border="5" align="center">
         <tr>
                <th>Клиент</th>
                <th>Номер</th>
                <th>Цена</th>
                <th>Дата</th>
         </tr>
        {% for item in str %}
        <tr>
                <td style="text-align: center">{{item.Cli}}</td>
                <td style="text-align: center">{{item.NumAU}}</td>
                <td style="text-align: center">{{item.CostTO}}</td>
                <td style="text-align: center">{{item.DateTO}}</td>
        </tr>
        {% endfor %}
    </table>
<div align="center" style="margin-top: 150px"> <a href="/">Выход в главное меню</a> </div>
</body>
</html>

