<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат поиска</title>



</head>
<body>
<h1 align="center"> Результат:</h1>
    <table border="5" align="center">
        {% for item in result %}
        <tr>
            {% for key, values in item.items() %}
                <td style="text-align: center">{{values}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
<div align="center" style="margin-top: 150px"> <a href="/">Выход в главное меню</a> </div>
</body>
</html>

