<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Утверждение водителей</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<center>
    <a role="button" class="btn topic_btn"
       style="margin-top: 10px; padding: 10px; background-color:#160f23; width: 200px; font-family: Helvetica; font-size: 13pt; font-weight: bold; color:#ff076d;"
       href="{{url_for('entry.save_order')}}">Утвердить водителей</a>
    <a role="button" class="btn topic_btn"
       style="margin-top: 10px;padding: 10px; background-color:#160f23; width: 200px; font-family: Helvetica; font-size: 13pt; font-weight: bold; color:#ff076d;"
       href="/">Главное меню</a>
</center>
{% import 'basket.html' as utils %}
<div class="container">
    <div class="row">
        <div class="col-md-8" style="margin-top: 30px;">
            <h2>Водители</h2>
            {% for i in item %}
            {{utils.render_item(i, show_form = True, show_amount = False, id=i['id'])}}
            {% endfor %}
        </div>
        <div class="col-md-4" style="margin-top: 30px;">
            <h2>Текущий выбор</h2>
            {% if basket %}
            {% for key in basket_keys %}
            {{utils.render_item(basket[key], show_form = False, show_amount = True,
            id=basket[key]['id'])}}
            {% endfor %}
            <a role="button" class="btn topic_btn"
               style="margin-top: 10px; padding: 10px; background-color:#d7c7f0; width: 200px; font-family: Helvetica; font-size: 13pt; font-weight: bold; color:#7e44db;"
               href="{{url_for('entry.clear_basket')}}">Очистить</a>
            {% else %}
            <div class="row">
                <h2 class="" align="center" style="padding-top: 30px;">Вы пока ничего не выбрали</h2>
            </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>