* {
    margin: 0;
    padding: 0;
    font-family: Inter;
}

body {
    background-color: var(--background-color);
}

.register {
    background-color: var(--register-color);
    margin-bottom: 10px;
    color: var(--main-color);
    font-size: 15px;
}

.register a {
    color: var(--main-color);
    white-space: nowrap;
    text-decoration: none;
}

.register a:hover {
    color: var(--hover-color) !important;
    cursor: pointer;
}

.cross {
    padding-left: 2%;
    width: 10%;
    cursor: pointer;
}

.options_containter {
    font-style: normal;
    font-weight: 800;
    color: var(--main-color);

    position: absolute;
    right: 2%;
    display: flex;
    justify-content: flex-end;
}

.options_containter a {
    color: var(--main-color);
    padding-left: 10%;
    white-space: nowrap;
    text-decoration: none;
}

.options_containter a:hover {
    color: var(--register-color);
    cursor: pointer;
}

.mytable a {
    color: var(--main-color);
    white-space: nowrap;
    text-decoration: none;
}

.mytable a:hover {
    color: var(--register-color);
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mytable {
    background-color: var(--register-color);

    display: fixed;

    margin-bottom: 10px;
    min-width: 20vw;
}

.mytable table {
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.mytable table tr {
    height: 5vh;
}

.mytable table tr td,
.mytable table tr th {
    color: var(--main-color);

    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

    padding: 10px;
    min-width: 20vw;
    background-color: var(--hover-color);

}

.mytable table tr td.no-padding {
    padding: 0;
}

input,
select {
    color: var(--main-color);
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="submit"] {
    color: var(--main-color);
    background-color: var(--input-color);
}

input[type="date"],
input[type="month"] {
    background-color: var(--background-color);
}

select,
input[type="text"],
input[type="password"],
input[type="login"],
input[type="number"] {
    background-color: var(--background-color);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="login"]:focus,
input[type="text"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
select:focus {
    outline: none;
}

input:hover,
select:hover {
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: var(--input-hover-color);
}

.label_page {
    color: var(--main-color);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    padding: 20px 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    hyphens: auto;

    text-align: center;
}

@keyframes slideIn {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}


.message {
    animation: slideIn 1s forwards, slideOut 1s 2s forwards;
    min-height: 6vh;

    color: var(--main-color);

    font-family: Inter;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.okay {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgba(107, 236, 120, 0.5);
    box-sizing: border-box;
    padding: 10px;
}

.error {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgba(251, 158, 158, 0.5);
    box-sizing: border-box;
    padding: 10px;
}

.container-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
}

.sql-results {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;

    height: 100vh;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.mytable-for-results {
    background-color: var(--register-color);
    display: fixed;
    position: relative;
    margin-bottom: 10px;
}

.mytable-for-results table th,
.mytable-for-results table td {
    min-width: 12vw;
    max-width: 12vw;
    word-wrap: break-word;
    overflow-wrap: break-word;
    box-sizing: border-box;
    hyphens: auto;
    text-align: center;
}

.mytable-for-results table {
    border-collapse: separate;
    border-spacing: 10px 10px;
}

.mytable-for-results table tr {
    height: 5vh;
}

.mytable-for-results table tr td {
    color: var(--main-color);

    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

    padding: 10px;
    background-color: var(--hover-color);
}

.mytable-for-results table tr th {
    color: var(--main-color);

    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;

    padding: 10px;
    background-color: var(--input-color);

}

.mytable-for-results table tr th.no-padding {
    position: relative;
    padding: 0;
    box-sizing: border-box;
    height: 0;
}

.mytable-for-results table tr td.no-padding {
    position: relative;
    padding: 0;
    box-sizing: border-box;
    height: 0;
}

.mytable-for-results thead,
.mytable-for-results tbody {
    border-spacing: 0 0px;
    display: block;
}

.mytable-for-results tbody {
    margin-top: 10px;

    max-height: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.mytable-for-results thead tr th {
    border-top: 10px solid var(--register-color);
}

.mytable-for-results table thead tr:first-of-type th {
    border-top: none;
}

.mytable-for-results table tbody tr td {
    border-right: 10px solid var(--register-color);
    border-top: 10px solid var(--register-color);
}

.mytable-for-results table thead tr th {
    border-right: 10px solid var(--register-color);
}

.mytable-for-results table tbody tr td:last-child,
.mytable-for-results table thead tr th:last-child {
    border-right: none;
}

.mytable-for-results table tbody tr:first-of-type td {
    border-top: none;
}

/* Стилизация полосы прокрутки */

.mytable-for-results tbody::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--input-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-color);
}

:root {
    --inter-font: 'Inter';
    --main-color: #4A90E2;
    /* синий, основной цвет */
    --background-color: #ECF0F1;
    /* светло-голубой, фон */
    --register-color: #7B8DAB;
    /* тускло-синий, акцент для кнопок регистрации */
    --hover-color: #346392;
    /* темно-синий, для наведения */
    --input-color: #D1DCE3;
    /* светло-серый, для полей ввода */
    --input-hover-color: #A5B8C5;
    /* серо-синий, для наведения на поля ввода */
    --message-color: #2ECC71;
    /* эмеральдовый, для сообщений об успехе */
    --error-color: #E74C3C;
    /* алый, для ошибок */
}