<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{url_for('static', filename='O.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='1.css')}}" rel="stylesheet" type="text/css">
    <title>Internet Service Provider</title>
</head>
<body>

  <center class="center">
      <h2 class="title">{{a}}</h2>
      <input class="button" type="button" onclick="history.back();" value="Назад"/>
      <form action = '/'>
          <button class="button" id="main_page">Вернуться в главное меню</button>
      </form>
  </center>

</body>
</html>