<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SuperMarket</title>
    <link href="{{url_for('static', filename='dynamic.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='O.css')}}" rel="stylesheet" type="text/css">
</head>
<body>

 <center class="center">
   <h2 class="title">{{title}}</h2>
     <table class="border" border="4">
      <tr class="tr">
          <td class="text">id Клиента</td>
          <td class="text">Паспортные данные</td>
          <td class="text">Дата рождения</td>
          <td class="text">Контакты</td>
          <td class="text">Адрес</td>
          <td class="text">Статус</td>
          <td class="text">Баланс</td>
      </tr>
         {% for client in data %}
         <tr class="tr">
             <td class="text">{{client['idClient']}}</td>
             <td class="text">{{client['Passport_data']}}</td>
             <td class="text">{{client['Date_of_birth']}}</td>
             <td class="text">{{client['Contacts']}}</td>
             <td class="text">{{client['Address']}}</td>
             <td class="text">{{client['Status']}}</td>
             <td class="text">{{client['Balance']}}</td>
         </tr>
         {% endfor %}
     </table>

     <form action = '/query/quest'>
         <button class="button" id="main_page">Назад</button>
     </form>
     <form action = '/'>
         <button class="button" id="main_page">Вернуться в главное меню</button>
     </form>
     
 </center>
</body>
</html>