<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Выберите запрос:</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .main-enter-block{

        }

    </style>
</head>
<body class="design">
        <header>
                <div class="header-block">
                    <a href="/">
                        <div class="logo-block">
                            <img class="logo-img" src="/static/img/logo.svg">
                            <div class="logo-text">Кинотеатр Пиковый Туз</div>
                        </div>
                    </a>
                </div>
        </header>
        <div class="main-content">
            <div class="main-enter-block">
                <div class="main-enter-block-title">
                    Выберите SQL-запрос
                </div>
                <div class="main-content-block">
                        <a class="point-unfiled-button" href="prov1">
                            <img src="/static/img/seans_data.png">
                            <div>Сеансы по дате</div>
                        </a>
                        <a class="point-unfiled-button" href="prov2">
                            <img src="/static/img/proshedshie.png">
                            <div>Прошедшие сеансы</div>
                        </a>
                        <a class="point-unfiled-button" href="prov3">
                            <img src="/static/img/period_viruchka.png">
                            <div>Выручка за период</div>
                        </a>
                        <a class="point-unfiled-button" href="prov4">
                            <img src="/static/img/tickets.png">
                            <div>Покупки билетов</div>
                        </a>
                        <a class="filed-button" href="/">
                            <div>Выйти в главное меню</div>
                        </a>
                </div>
            </div>
         </div>
    </body>
</html>

