<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2 align="center">Редактирование рейсов</h2>
    <div align="center">
        <table border="0" width="25%" >
            {% if items %}
                {% for head in heads %}
                <th align="left"> {{ head }} </th>
                {% endfor %}
                {% for item in items %}
                    <tr>
                        <td> {{ item['Cli'] }} </td>
                        <td> {{ item['DateTO'] }} </td>
                        <td> {{ item['NumAU'] }} </td>
                        <td> {{ item['DateTO'] }} </td>
                        <td>
                            <form action="" method="post">
                                <input type="hidden" name="IDzak" value="{{ item['IDzak'] }}">
                                <input type="submit" name="action" value="Изменить">
                                <input type="submit" name="action" value="Удалить">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
               <div>
                   Нет Имени
               </div>
            {% endif %}
        </table>
        <form action="" method="post">
            <input type="submit" name="sort" value="Отсортировать">
        </form>
    </div>
    <div align="center">
        <a href = '/'>В главное меню</a>
        </div>
</body>
</html>